{% extends "base.html.jinja" %}

{# head #}
{% block extrascripts %}
    <script async src="/static/js/crendentials-form.js"></script>
    <script async src="/static/js/jquery-dirty.js"></script>
{% endblock extrascripts %}
{% block title %}Credentials form{% endblock %}

{# body #}
{% block content %}
    {# Form goes here #}
{% endblock content %}