{% extends "base.html.jinja" %}

{# head #}
{% block extrascripts %}
    <link href="/static/css/credentials-form.css" rel="stylesheet">
    <script async src="/static/js/jquery.dirty.js"></script>
    <script async src="/static/js/credentials-form.js"></script>
{% endblock extrascripts %}
{% block title %}Credentials form{% endblock %}

{# body #}
{% block content %}
    {# Form goes here #}
  <div id="overlay">
    <div id="text">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
   
  <div class="container" style="margin-top:2vw; margin-bottom: 2vw">
    <div class="row">
      <div class="col-6" style="margin:auto">
        <form class="needs-validation" novalidate id="form">
          <div class="row mb-3">
            <label for="filename" class="col-sm-6 col-form-label">Name of credentials(filename):</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="filename" value="{{settings.filename}}" required>
              <div class="invalid-feedback">
                Please choose a valid credential.
              </div>
            </div>
            <div class="backend-feedback" id="filenameError"></div>
          </div>
          <div class="row mb-3">
            <label for="accessKeyId" class="col-sm-6 col-form-label">AWS_access_key_id:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="accessKeyId" value="{{settings['access-key-id']}}" required>
              <div class="invalid-feedback">
                  Please fill access key id.
              </div>
            </div>
            <div class="backend-feedback" id="accessKeyIdError"></div>
          </div>
          <div class="row mb-3">
            <label for="accessKey" class="col-sm-6 col-form-label">AWS_secret_access_key:</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="accessKey" value="{{settings['access-key']}}" required>
              <div class="invalid-feedback">
                  Please fill access key.
              </div>
            </div>
            <div class="backend-feedback" id="accessKeyError"></div>
          </div>
          <div class="row mb-3">
            <label for="endpoint" class="col-sm-6 col-form-label">Endpoint:</label>
            <div class="col-sm-6">
            <input type="text" class="form-control" id="endpoint" value="{{settings.endpoint}}">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-6 col-form-label">Pathstyle:</label>
            <div class="col-sm-6">
              <select class="form-select" id="pathstyle">
                {% if settings.pathstyle==false %}}
                  <option value="False" selected>Disabled</option>
                  <option value="True">Enabled</option>
                {% else %}
                  <option value="False">Disabled</option>
                  <option value="True" selected>Enabled</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-6 col-form-label">Skipssl:</label>
            <div class="col-sm-6">
              <select class="form-select" id="skipssl">
                {% if settings.skipssl==false %}}
                  <option value="False" selected>Disabled</option>
                  <option value="True">Enabled</option>
                {% else %}
                  <option value="False">Disabled</option>
                  <option value="True" selected>Enabled</option>
                {% endif %}
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-6 col-form-label">Nossl:</label>
            <div class="col-sm-6">
              <select class="form-select" id="nossl">
                {% if settings.nossl==false %}}
                  <option value="False" selected>Disabled</option>
                  <option value="True">Enabled</option>
                {% else %}
                  <option value="False">Disabled</option>
                  <option value="True" selected>Enabled</option>
                {% endif %}
              </select>
            </div>
          </div>
          <input type="hidden" value="{{settings['filepath']}}" id="filepath" />
          <button type="submit" class="btn btn-primary" id="saveButton" disabled>Save Changes</button>
        </form>                 
      </div>
    </div>
  </div>

    
{% endblock content %}